---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import MongoDB from "./icons/MongoDB.astro"
import React from "./icons/React.astro"
import Typescript from "./icons/Typescript.astro"
import AstroIcon from "./icons/AstroIcon.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  REACTJS: {
    name: "ReactJS",
    class: "bg-black text-white",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-black text-white",
    icon: Tailwind,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: MongoDB,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-black text-white",
    icon: Typescript,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
}
const PROJECTS = [
  {
    title: "Desarrollo conjunto web SUGUS",
    description:
      "Desarrollo completo de la página sugusuva.es/47CON de la asociación de ciberseguridad SUGUS, además de pertenecer a la misma. Esta página fue creada para mostrar todo tipo de información sobre el evento 47CON, el primer congreso de ciberseguridad de Valladolid, organizado por SUGUS.",
    image: "/projects/sugus.webp",
    link: "https://sugusuva.es/47CON",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Generador de QRs",
    description:
      "Generador de QRs a partir de un texto o una URL, permite personalización de color y forma del QR, sin tiempo de caducidad. Hecho con ReactJS y SIN librerías.",
    link: "https://qr-generator-wheat.vercel.app/",
    github: "https://github.com/Danii47/QR-Generator",
    image: "/projects/qr-generator.webp",
    tags: [TAGS.REACTJS],
  },
  {
    title: "Ajedrez con IA",
    description:
      "Juego estándar del ajedrez con la opción de poder jugar contra un oponente en local o contra una IA de nivel bajo-medio usando el algoritmo min-max. Incluye almacenamiento en localstorage. ReactJS.",
    link: "https://chess-omega-five.vercel.app/",
    github: "https://github.com/Danii47/chess",
    image: "/projects/chess-ia.webp",
    tags: [TAGS.REACTJS],
  },
  {
    title: "Conversor de bases dinámico",
    description:
      "Un conversor de bases que tiene la implementación de poder hacer operaciones con los números en distintas bases. Bases soportadas: binario, octal, decimal y hexadecimal. Astro + React + TypeScript.",
    link: "https://chess-omega-five.vercel.app/",
    github: "https://github.com/Danii47/chess",
    image: "/projects/base-converter.webp",
    tags: [TAGS.ASTRO,TAGS.REACTJS, TAGS.TYPESCRIPT],
  },
  {
    title: "Conecta 4",
    description:
      "uego de conecta 4 / 4 en raya que permite cambiar el tamaño del tablero. Desarrollado con ReactJS.",
    link: "https://connect-4-rho.vercel.app/",
    github: "https://github.com/Danii47/connect-4",
    image: "/projects/connect-4.webp",
    tags: [TAGS.REACTJS],
  },
  {
    title: "Buscar información IP",
    description:
      "Buscador de geolocalización IP con API de Google Maps e información sobre la misma a través de la API de freeipapi. React + TypeScript.",
    link: "https://search-ip-info.vercel.app/",
    github: "https://github.com/Danii47/search-ip-info",
    image: "/projects/connect-4.webp",
    tags: [TAGS.REACTJS, TAGS.TYPESCRIPT],
  },
  {
    title: "Tic Tac Toe",
    description:
      "Juego del 3 en raya desarrollado con ReactJS.",
    link: "https://tic-tac-toe-ten-lime.vercel.app/",
    github: "https://github.com/Danii47/tic-tac-toe",
    image: "/projects/tictactoe.webp",
    tags: [TAGS.REACTJS],
  },
  {
    title: "Clon de Google Sheets",
    description:
      "Clon simple del excel de google, resize de filas y columnas, diseño de la aplicación original. Sin evaluaciones de funciones. React + TypeScript",
    link: "https://excel-clone-delta.vercel.app/",
    github: "https://github.com/Danii47/excel-clone",
    image: "/projects/googlesheet-clon.webp",
    tags: [TAGS.REACTJS, TAGS.TYPESCRIPT],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



